* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #78888f;
  --main-font-color: #f2f2f2;
  --title-font-color: #fff;
  --dark-translucent: rgba(0, 0, 0, 0.75);
  --img-bg-color: rgba(141, 169, 184, 0.45);
  --img-border-color: #99aab5;
  --box-drop-shade: #000;
  --banner-bg-color: rgba(255, 0, 0, 0.25)
}
nav {
  align-self: flex-start;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--main-font-color);
}
section .title {
    align-self: flex-start; 
    font-size:32px;
    padding: .5rem 0rem;
    
}
section .title::after, .user-link::after{
    content: "{";
    margin-left: .5rem;
    color: yellow;
}

section .site::after{
    content: "}, ";
    margin-left: .5rem;
    font-size: 32px;
    color: yellow;
}
section .closing-brace::after {
    content: "}";
    font-size: 48px;
    color: yellow;
}
a:active,
a:visited,
a:link {
  color: #fff;
  text-decoration: none;
}
#bio {
  padding: 3rem 0;
  background-color: var(--img-bg-color);
  border-radius: 30px;
}
#coding {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    padding: 1rem;
    gap: .5rem;
    background-color: var(--dark-translucent);
    border-radius: 30px;
  }
  #coding ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
    margin:0 1rem;
  }
  #coding ul li ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size:20px;
    gap: 1rem;
  }
  .user-link{
    font-size: 28px;
  }
  .user-link:focus, a.user-link:hover, a.site-link:hover{
    display: inline-block;
    transform: scale(1.1);
    border-bottom: 1px solid white;
    transition: all 300ms linear;
  }
  .link-img{
    height: 75px;
    width: 75px; 
    background: cover;
    border-radius: 10px;
  }
.banner {
  position: absolute;
  content: '';
  background-color: var(--banner-bg-color);
  height: 120px;
  width: calc(100% - 2rem);
  max-width: 315px;
  align-self: center;
  border-radius: 15px;
  z-index: -1;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 3rem 0.5rem;
}
.profile {
  padding: 0 1rem;
}
.profile .left {
  display: flex;
  align-items: center;
}
.profile .left p {
  font-size: 1.25rem;
  font-weight: 900;
  text-indent: 16px;
  margin: 0 0.5rem;
  padding: 0.5rem;
  max-height: 160px;
  min-width: 170px;
  max-width: 195px;
  text-shadow: 0px 1px 1px var(--dark-translucent);
  border-radius: 5px;
  line-height: 1.2rem;
  z-index: 1;
}
.profile img {
  height: 120px;
  border-radius: 20px;
  transform: scaleX(-100%);
}

.profile .right {
  padding: 1rem;
}
.profile .right .top {
  font-size: 1.5rem;
}
.profile .right .mid {
  border-top: 5px solid var(--img-border-color);
}
.question {
  font-size: 32px;
  align-self: center;
}

.code-block {
    align-self: flex-start;
  background-color: var(--dark-translucent);
  padding: 10px 35px;
  font-weight: 800;
  margin: 0 1rem;
  border-radius: 10px;
  max-width: 315px;
}

.code-block span {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  width: fit-content;
}


.purple {
  color: purple;
}
.green {
  color: green;
}
.blue, a.blue, li.blue {
  color: rgb(89, 166, 213);
}
.yellow {
  color: yellow;
}
